---
layout: page
---

{% assign category_name = page.landing.category %}
{% assign all_posts = site.posts | where: "categories", category_name %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in all_posts %}
  <article class="card-wrapper card">
    <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
      {% if post.image %}
      <div class="col-md-5">
        <img src="{{ post.image.path | default: post.image }}" alt="{{ post.title }}">
      </div>
      {% endif %}
      <div class="col-md-{% if post.image %}7{% else %}12{% endif %}">
        <div class="card-body d-flex flex-column">
          <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>
          <div class="card-text content mt-0 mb-3">
            <p>{{ post.description | default: post.excerpt | strip_html | truncate: 200 }}</p>
          </div>
          <div class="post-meta flex-grow-1 d-flex align-items-end">
            <div class="me-auto">
              <i class="far fa-calendar fa-fw me-1"></i>
              {{ post.date | date: "%Y-%m-%d" }}
            </div>
          </div>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
</div>